.successful_display_yellow {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    background-color: var(--grey-1);
    padding: 1.5rem 0;
}

.successful_display_black {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    background-color: var(--primary);
    padding: 1.5rem 0;
}

.successful_text_black {
    font-size: 2rem;
    color: black;
}

.successful_text_yellow {
    font-size: 2rem;
    color: var(--primary);
}

.successful_yellow svg {
    font-size: 10rem;
    color: var(--primary);
}

.successful_black svg {
    font-size: 10rem;
    color: var(--grey-1);
}
