.section_learn_more {
    background-color: var(--primary);
    padding: 1rem 0 9.6rem 0;
    height: calc(100vh - 9.6rem);
    width: 100%;
}

.lm_text {
    padding: 30px;
    text-align: center;
    background-color: var(--primary);
}

.lm_title {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    color: var(--grey-2);
}

.lm_description {
    font-size: 2rem;
    line-height: 1.8;
    font-weight: 700;
    text-align: center;
    color: var(--grey-3);
}

.creators_text {
    padding: 60px;
    text-align: center;
    background-color: var(--grey-3);
}

.creators_title {
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    color: var(--tint-1);
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    background-color: var(--tint-1);
}

.column {
    float: left;
    margin-bottom: 16px;
    padding: 5px;
}

.container {
    padding: 10px;
    font-size: 1.5rem;
    line-height: 1;
    color: var(--grey-3);
}

.row {
    display: flex;
    justify-content: center;
}

.card img {
    width: 100%;
}
