.container {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 0 0.063rem 0.375rem rgba(32 33 36 0.28);
    padding: 0.5rem;
    width: 18.75rem;
    margin: 0 auto;
}
.input {
    flex: 0.063rem;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 31.25rem;
    padding: 0.5rem;
}
.button {
    border: none;
    outline: none;
    background-color: #fecb00;
    border-radius: 1.5rem;
    padding: 0.5rem;
    margin-left: 0.5rem;
    cursor: pointer;
}
.logo {
    background-color: white;
}
