.main_nav_list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 3.2rem;
}

.main_nav_link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.main_nav_link:link,
.main_nav_link:visited {
    text-decoration: none;
    color: var(--grey-2);
    font-size: 2rem;

    transition: all 300ms;
    border-bottom: 0.2rem solid transparent;
}

.main_nav_link:hover,
.main_nav_link:active {
    color: #eee;
    border-bottom: 0.2rem solid #fff;
}

.role_button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    font-weight: 300;
    font-size: 2rem;
    width: 14rem;
    height: 5.8rem;
    color: white;

    background-color: var(--grey-2);

    border-radius: 0.9rem;
    border: none;

    transition: all 300ms;
}

.role_button:hover {
    color: var(--grey-2);
    background-color: var(--primary);
    box-shadow: inset 0 0 0 0.4rem var(--grey-2);
}

.role_button span {
    font-weight: 500;
    letter-spacing: 0.1rem;
}

.icon {
    font-size: 2.6rem;
}
